/* versão desk */
body {
	margin: 0;
	font-family: 'Lato', sans-serif;
}

.logo {
	width: 40px;
	height: 36.84px;
	top: 1%;
	position: fixed;
	left: 12%;
}

.title {
	position: absolute;
	left: 15%;
	display: flex;
}

.header-top {
	background-color: #e0e0e0;
	height: 60px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.header-top span {
	color: #333;
	font-size: 20px;
	font-weight: 600;
}

.formulário {
	position: absolute;
	width: 27%;
	margin-left: 11%;
	margin-top: 1%;
}

.titulo-box {
	display: none;
}

.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.menu-responsivo ul {
	display: flex;
	list-style-type: none;
	flex-direction: row;
	position: fixed;
	width: 350px;
	height: 40px;
	background-color: white;
	color: #333;
	top: -0.5%;
	right: 11%;
}

.menu-responsivo ul li {
	align-items: center;
	margin: 7px 0;
	padding: 0 20px;
	border-left: 1px solid #333;
	font-style: normal;
	font-weight: 600;
	font-size: 16px;
	line-height: 19px;
	display: flex;
}

.menu-hamburguer {
	display: none;
}

.menu-responsivo ul li:nth-child(2) {
	border: 0;
}

.menu-responsivo ul li:nth-child(1) {
	display: none;
}

.caixa-form {
	border: 1px solid #979797;
	box-sizing: border-box;
	border-radius: 4px;
	width: 100%;
	height: 32PX;
	padding: 3%;
}

.container {
	margin: 2%;
}

.botão {
	width: 100%;
	height: 32px;
	border-radius: 4px;
	background-color: #333;
	color: #ffffff;
	margin: 2% 0 0 0;
	font-style: normal;
}

.border {
	border-width: 100%;
	border: 1px solid #979797;
	padding: 3%;
}

.linha {
	display: contents;
}

.tabela {
	float: right;
	margin: 2%;
	width: 50%;
	margin-right: 11%;
}

.col-3 {
	text-align: right;
}

.linha-extrato {
	width: 100%;
	border: 1px;
	color: #979797;
}

.linha-dupla {
	border-top: 4px double;
	width: 100%;
	border: 4px double solid #979797;
}

#lucro {
	text-align: right;
	font-size: 10px;
}

footer {
	position:absolute;
   	bottom:0;
  	width:100%;
   	height:10px;
	background: #333;
}

.mt-1 {
	margin-top: 10px;
}

.mt-2 {
	margin-top: 20px;
}

.mt-3 {
	margin-top: 30px;
}

.mt-4 {
	margin-top: 40px;
}

.mt-5 {
	margin-top: 50px;
}

.mt-6 {
	margin-top: 60px;
}

.mb-1 {
	margin-bottom: 10px;
}

.mb-2 {
	margin-bottom: 20px;
}

.mb-3 {
	margin-bottom: 30px;
}

.mb-4 {
	margin-bottom: 40px;
}

.mb-5 {
	margin-bottom: 50px;
}

.mb-6 {
	margin-bottom: 60px;
}

/* versão tablet */
@media screen and (max-width:768px) {

	.menu-responsivo {
		position: static;
		text-align: right;
	}

	.logo {
		width: 30px;
		height: 27.63px;
		margin-top: 1%;
		left: 5%;
	}

	.header-top ul {
		background-color: #e0e0e0;
		height: 60px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.title {
		position: sticky;
	}

	.formulário {
		position: static;
		width: 90%;
		margin: 5%;
	}

	.form-title {
		display: flex;
		justify-content: space-between;
	}

	.form-tab {
		display: flex;
	}

	.caixa-form {
		margin: 1%;
	}

	.caixa-form1 {
		width: 100%;
	}

	.caixa-form2 {
		width: 200%;
	}

	.caixa-form3 {
		width: 100%;
	}

	.titulo-box {
		text-align: center;
		display: block;
	}

	.botão {
		margin: 20px 0 0 0;
		width: 30%;
		height: 30px;
		position: sticky;
		left: 70%;
	}

	.menu-responsivo ul {
		display: none;
		list-style-type: none;
		background-color: #333;
		font-size: 16px;
		color: white;
		position: fixed;
		height: 100%;
		width: 35%;
		right: 0px;
		top: 0px;
		margin: 0px;
		padding: 20px 0px;
	}

	.menu-responsivo ul li {
		border-left: 1px solid #333;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		align-items: center;
		display: block;
	}

	.close {
		color: #ffffff;
		text-decoration: none;
	}

	#x-menu {
		text-align: left;
		display: block;
	}

	.itens-menu:hover {
		background-color: #c4c4c4;
		color: #333;
		display: block;
		margin: 2%;
	}

	.menu-hamburguer {
		display: block;
		width: 100%;
		position: relative;
	}

	.menu-hamburguer div {
		width: 18PX;
		height: 2px;
		background-color: #333;
		margin: 6px 0;
		display: block;
	}

	.menu-responsivo:hover ul {
		display: block;
	}

	.container {
		margin: 6.5%;
	}


	.linha {
		display: contents;
	}

	.border {
		width: 95%;
		margin: auto;
	}

	.tabela {
		margin: -30px 0;
		padding: 0 20px;
		font-style: normal;
		font-size: 16px;
		line-height: 19px;
		display: flex;
		width: 100%;
	}

	.col-3 {
		text-align: right;
	}

	.col-1 {
		width: 5%;
	}
}

/* versão mobile */
@media screen and (max-width:411px) {

	.menu-responsivo {
		position: static;
		text-align: right;
	}

	.logo {
		width: 30px;
		height: 27.63px;
		margin-top: 1%;
		left: 5%;
	}

	.header-top ul {
		background-color: #e0e0e0;
		height: 60px;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.title {
		position: sticky;
	}

	.formulário {
		position: static;
		width: 90%;
		margin: 5%;
	}

	.form-tab {
		display: block;
	}

	.titulo-box {
		display: none;
	}

	.menu-responsivo ul {
		display: none;
		list-style-type: none;
		background-color: #333;
		font-size: 16px;
		color: white;
		position: fixed;
		height: 100%;
		width: 85.4%;
		right: 0px;
		top: 0px;
		margin: 0px;
		padding: 20px 0px;
	}

	.menu-responsivo ul li {
		border-left: 1px solid #333;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		align-items: center;
		display: block;
	}

	#x-menu {
		text-align: left;
		display: block;
	}

	.itens-menu:hover {
		background-color: #c4c4c4;
		color: #333;
		display: block;
		height: 5%;
	}

	.menu-hamburguer {
		display: block;
		width: 100%;
	}

	.menu-hamburguer div {
		width: 18PX;
		height: 2px;
		background-color: #333;
		margin: 6px 0;
		display: block;
	}

	.menu-responsivo:hover ul {
		display: block;
	}

	.container {
		margin: 6.5%;
	}

	.caixa-form {
		width: 100%;
	}

	.botão {
		margin: 20px 0 0 0;
		width: 100%;
		height: 30px;
		position: static;
	}

	.linha {
		width: 100%;
		display: block;
	}

	.border {
		display: contents;
	}

	.tabela {
		margin: -30px 0;
		padding: 0 20px;
		font-style: normal;
		font-size: 16px;
		line-height: 19px;
		display: flex;
		width: 100%;
	}

	.col-3 {
		text-align: right;
	}

	.col-1 {
		width: 5%;
	}
}